@import "../../../styles/config";

.header {
  font-weight: 900;
  width: fit-content;
  text-transform: capitalize;
  margin: 2rem auto;
}

.temperature {
  @extend .header;
  @include temperature-gradient;
  @include crop-text-background;
}

.carbonDioxide {
  @extend .header;
  @include carbon-dioxide-gradient;
  @include crop-text-background;
}

.methane {
  @extend .header;
  @include methane-gradient;
  @include crop-text-background;
}

.nitrousOxide {
  @extend .header;
  @include nitrous-oxide-gradient;
  @include crop-text-background;
}

.polarIce {
  @extend .header;
  @include polar-ice-gradient;
  @include crop-text-background;
}
