@import "../../../styles/config";

.graphContainer {
  height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(248, 249, 250);
  margin: 1rem;
  padding: 2rem 0rem;
  // border: 1px solid $color-temperature1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.graph {
  width: 100%;
  height: 100%;

  display: flex;
  // height: 100%;
  // min-height: 40vh;
  // justify-content: space-around;
  // overflow-x: auto;
  // margin: 1rem 1.5rem 1rem 1.5rem;
  // min-height: 50vh;
}

.background {
  @include temperature-gradient;
}
