.banner {
  position: relative;
  background-image: url("/images/planet-earth-small.jpg");
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin-bottom: 2.5rem;
}

.layout {
  position: absolute;
}

.bannerContent {
  position: absolute;
  bottom: 25%;
  left: 0;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;

  h1 {
    font-weight: 900;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .banner {
    background-image: url("/images/planet-earth-big.jpg");
    background-position: initial;
  }

  .bannerContent {
    width: 80%;
    left: 10%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1500px) {
  .bannerContent {
    width: 70%;
    left: 15%;
    margin-left: 0;
    margin-right: 0;
  }
}
