.banner {
  position: relative;
  background-image: url("../../../assets/images/planet-earth-big.jpg");
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  overflow-x: hidden;
}

.bannerContent {
  position: absolute;
  bottom: 25%;
  left: 10%;
  color: white;

  h1 {
    font-weight: 900;
  }

  blockquote {
    margin-top: 2rem;
  }
}
