@import "../../../styles/config";

.button {
  all: unset;
  align-self: end;
  width: 140px;
  padding: 7px 0px;
  text-align: center;
  border-radius: 18px;

  position: relative;
  top: 0;
  transition: top ease 0.5s;

  &:hover {
    // slightly lift card
    top: -5px;
  }
}

.temperature {
  @extend .button;
  @include temperature-gradient;
}

.carbonDioxide {
  @extend .button;
  @include carbon-dioxide-gradient;
}

.methane {
  @extend .button;
  @include methane-gradient;
}

.nitrousOxide {
  @extend .button;
  @include nitrous-oxide-gradient;
}

.polarIce {
  @extend .button;
  @include polar-ice-gradient;
}
