.button {
  all: unset;
  align-self: end;
  width: 140px;
  padding: 7px 0px;
  text-align: center;
  border-radius: 18px;
  border: 1px solid black;
  background-color: lightblue;
}

.temperatureBtn {
  @extend .button;
  background-color: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//   // background: #f12711; /* fallback for old browsers */
//   // background: -webkit-linear-gradient(
//   //   to right,
//   //   #f5af19,
//   //   #f12711
//   // ); /* Chrome 10-25, Safari 5.1-6 */
//   // background: linear-gradient(
//   //   to right,
//   //   #f5af19,
//   //   #f12711
//   // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }
