@import "../../../styles/config";

.factorArticle {
  display: flex;
  flex-direction: column;
  margin: 0rem 1.5rem 1.5rem;

  & > * {
    margin-bottom: 1rem;
  }

  h1 {
    text-align: left;
  }
}

.linkBtn {
  align-self: end;
  text-decoration: none;
  color: white;
  font-weight: 600;

  &:hover {
    color: white;
  }
}
