@import "../../../styles/config";

.factsArticles {
  margin: 0 1rem;
}

@media only screen and (min-width: 700px) {
  .factsArticles {
    width: 75%;
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 1400px) {
  .factsArticles {
    width: 70%;
    margin: 2rem auto;
  }
}
