@import "../../../styles/config";

.factorArticle {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1.5rem 5rem;

  h1 {
    text-align: left;
  }
}

.factorImg {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textContent {
  display: flex;
  flex-direction: column;

  blockquote {
    margin-bottom: 2rem;
  }
}

.linkBtn {
  align-self: center;
  text-decoration: none;
  color: white;
  font-weight: 600;

  &:hover {
    color: white;
  }
}

@media only screen and (min-width: 700px) {
  .factorArticle {
    h1 {
      margin-top: 0rem;
      margin-left: 0rem;
    }

    row-gap: 5%;
  }

  .textContent {
    width: 60%;
    margin-bottom: 0rem;
  }

  .linkBtn {
    align-self: start;
  }

  .factorImg {
    width: 35%;
  }

  .factorArticle:nth-of-type(odd) {
    flex-direction: row;

    .factorImg {
      margin-right: 1.5rem;
    }
  }

  .factorArticle:nth-of-type(even) {
    flex-direction: row-reverse;

    .factorImg {
      margin-left: 1.5rem;
    }
  }
}
