@import "../../../styles/config";

.factsHeading {
  font-weight: 900;
  width: fit-content;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.temperature {
  @extend .factsHeading;
  @include temperature-gradient;
  @include crop-text-background;
}

.carbonDioxide {
  @extend .factsHeading;
  @include carbon-dioxide-gradient;
  @include crop-text-background;
}

.methane {
  @extend .factsHeading;
  @include methane-gradient;
  @include crop-text-background;
}

.nitrousOxide {
  @extend .factsHeading;
  @include nitrous-oxide-gradient;
  @include crop-text-background;
}

.polarIce {
  @extend .factsHeading;
  @include polar-ice-gradient;
  @include crop-text-background;
}

.factsList {
  list-style-type: none;
  margin-bottom: 2rem;

  li {
    margin-bottom: 1rem;
  }
}

.factsIcon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #808080;
}
